.rosterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1350px;
}

.rosterCharacterBorder {
  border: 1px solid white;
  height: 77px;
}

.rosterCharacterUsed {
  opacity: 0.2;
}
