.mainContainer {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0 50px;
  text-align: center;
}

.mainTitle {
  color: #FFF;
  font-size: 50px;
}

.mainLabel {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
}

.description {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

.titleSection {
  padding: 40px 0;
}

.numPlayersSection {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.numPlayersDropdown {
  margin-left: 10px;
  margin-right: 100px;
}

.characterSelectSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

select {
  width: 120px;
  padding: 5px 35px 5px 5px;
  font-size: 14px;
  border: 1px solid #CCC;
  border-radius: 10px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE;
}

button {
  border: 1px solid #CCC;
  border-radius: 10px;
  height: 30px;
  width: 80px;
}
